@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-size: 0.9rem;
    color: #383e45;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.site-title{
    width: 120px;
    padding: 10px 0;
    li
}

.section-title{
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 1px black;
    display: inline-block;
}

.site-title a{
    display: block;
}

.content-title{
    font-size: 1.3rem;
    text-align: center;

}



#mainvisual{
    width: 600px;
    height: 600px;
    object-fit: cover;
}
